Package: com.saj0vie.MacOSSierra
Name: Mac OS Sierra
Version: 1.0.1
Architecture: iphoneos-arm
Description: Mac OS Sierra Icons (Very few icons at the moment, just testing)Update 1.0.1 a few more icons added. A work in progress!
Maintainer: Saj0vie <jdsajovie@gmail.com>
Author: Saj0vie <jdsajovie@gmail.com>
Section: Themes (Springboard)
