Package: com.saj0vie.StockPlusSimple
Name: Theme
Version: 2.1
Architecture: iphoneos-arm
Description: N/A
Maintainer: Saj0vie <jdsajovie@gmail.com>
Author: Saj0vie <jdsajovie@gmail.com>
Section: Themes (Springboard)
