Package: com.saj0vie.0bscure10Invert
Name: 0bscure10[Inverted]
Version: 1.1
Architecture: iphoneos-arm
Description: UPDATE 1.1: 76 new icons. As requested, made compatible for IOS 10, currently only with stock icons, but more will be added over time. Watch for updates.
Maintainer: Saj0vie <jdsajovie@gmail.com>
Author: Saj0vie <jdsajovie@gmail.com>
Section: Themes (Springboard)
