Name: ClassicDock
Package: org.coolstar.classicdock
Priority: optional
Depends: firmware (>= 7.0), mobilesubstrate (>= 0.9.5000), preferenceloader
Version: 1.1-8
Architecture: iphoneos-arm
Description: Bring back iOS 6 dock to iOS 7/8
Sponsor: thebigboss.org <http://thebigboss.org>
Maintainer: BigBoss <bigboss@thebigboss.org>
Author: CoolStar & sharedRoutine <coolstarorganization@gmail.com>
dev: coolstar
Section: Tweaks
Tag: purpose::extension, ios7support::1, ios8support::1
Installed-Size: 575
