Package: com.saj0vie.Solstice10Circular
Name: Solstice 10 Circular
Version: 1.0
Architecture: iphoneos-arm
Description: The IOS 7 theme we all loved made compatible for IOS 10. All credit to the original developer. (THIS IS THE CIRCULAR ICON VERSION)
Maintainer: Saj0vie <jdsajovie@gmail.com>
Author: Saj0vie <jdsajovie@gmail.com>
Section: Themes (Springboard)
