Package: com.saj0vie.IOS11CellularBars
Name: IOS 11 New Icons
Version: 1.0
Architecture: iphoneos-arm
Description: Simply the two new icons of IOS 11. If any others come, request them.
Maintainer: saj0vie
Author: saj0vie
Section: Themes (SpringBoard)
