Package: org.coolstar.classicdock
Name: ClassicDock
Priority: optional
Depends: firmware (>= 7.0), mobilesubstrate (>= 0.9.5000), preferenceloader
Version: 1.1-8
Architecture: iphoneos-arm
Description: IOS 6 dock brought back. IOS 7-10 Support. Requires Cydia Substrate and PreferenceLoader.
Maintainer: Saj0vie Repo <jdsajovie@gmail.com>
Author: CoolStar & sharedRoutine <coolstarorganization@gmail.com>
dev: coolstar
Section: Utilities

