Package: com.saj0vie.IOS10CellularBars
Name: IOS 11 Cellular Bars
Version: 1.0.1
Depends: libstatusbar
Architecture: iphoneos-arm
Description: The cellular bars look from the WWDC conference on 6/5/17. Update 1.0.1: Wrong name. Also, install libstatusbar for it to function properly.
Maintainer: saj0vie
Author: saj0vie
Section: Themes (SpringBoard)
