Package: com.saj0vie.SolsticeX
Name: SolsticeX
Version: 1.0
Architecture: iphoneos-arm
Description: Solstice made compatible for IOS 9-10.
Maintainer: saj0vie
Author: saj0vie
Section: Themes (SpringBoard)
