Package: com.saj0vie.Solstice10
Name: Solstice 10
Version: 1.2.5
Architecture: iphoneos-arm
Description: The IOS 7 theme we all loved made compatible for IOS 10. All credit to the original developer. Update 1.2.5: FIX: New settings icons (not complete, but a majority are done) and some fixes on unthemed icons. 
Maintainer: Saj0vie <jdsajovie@gmail.com>
Author: Saj0vie <jdsajovie@gmail.com>
Section: Themes (Springboard)
